<div class="form-group">
  <h2>Login or Register</h2>
  <div class="formtext">
  </div>
  <label for="email">Enter Email:</label>
  <input type="text" class="form-control" placeholder="Email" id="email" required [(ngModel)]="emailValue" name="email"
    #email="ngModel"><br>
  <label for="password">Enter Password</label>
  <input type="password" class="form-control" placeholder="Enter Password" id="password"
    [(ngModel)]="passwordValue"><br>

  <input type="button" class="btn btn-primary" value="Log in" (click)="onSubmitLogin();">
  <input type="button" class="btn btn-primary" value="Register" (click)="onSubmitRegister();">

  <div>
    <input type="button" class="btn btn-primary" value="logout" (click)="logout();">
  </div>
  <div>
    <h2>Create Event</h2>
    <label>date</label>
    <input type="date" placeholder="Date" [(ngModel)]="dateValue"><br>
    <label>time</label>
    <input type="time" placeholder="Time" [(ngModel)]="timeValue"><br>
    <label>venue</label>
    <input type="text" placeholder="Venue" [(ngModel)]="venueValue"><br>
    <input type="button" class="btn btn-primary" value="Create Event" (click)="createEvent();">
  </div>
</div>

<div>
  <label>Up coming games</label>
  <div *ngFor="let event of events | async">
    <div *ngIf="checkTime(event.date)">
      {{event.time}}
      {{event.venue}}
      {{event.date}}
    </div>
  </div>
</div>

<div >
  <label>past games</label>
  <div *ngFor="let event of events | async">
    <div *ngIf=pastEvents(event.date)>
        {{event.time}}
        {{event.venue}}
        {{event.date}}
        {{event.paidAmount}}
        {{event.personName}}
    </div>
  </div>
</div>